/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

/** Corpo centrale totale **/
main {
    display: flex;
    height: 87.5vh;
}
/** Corpo centrale totale **/

/** Sezioni corpo **/




/*** Parte sinistra ***/
.Sx {
    background-color: #000000;
    width: 20vw;
}
.Logo-big {
    padding: 10px 35px 20px 10px;
    max-width: 340px;
    max-height: 100px;
    margin: 0 auto;
}
.Logo-small {
    display: none;
    padding: 11px 15px 0px 12px;
}
a {
    text-decoration: none;
    color: #5c5c5c;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.Img {
    max-height: 40px;
    max-width: 30px;
    display: block;
}
/*** Parte sinistra ***/




/*** Parte destra ***/
.Dx {
    width: 100%;
}
.Header {
    background-color: #10131a;
    height: 13%;
}
.Main {
    background-color: #151922;
    height: 87%;
}
/*** Parte destra ***/

/** Sezioni corpo **/



/** Finale schermata **/
footer {
    background-color: #282828;
    height: 12.5vh;
}

