/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

/** Corpo centrale totale **/
main {
    display: flex;
    height: 87.5vh;
}
/** Corpo centrale totale **/

/** Sezioni corpo **/




/*** Parte sinistra ***/
.Sx {
    background-color: #000000;
    width: 20vw;
}
.Logo-big {
    padding: 25px 65px 35px 25px;

}
.Logo-small {
    display: none;
    padding: 11px 15px 0px 12px;
}
.Img {
    height: 10px;
    display: inline;
}
/*** Parte sinistra ***/




/*** Parte destra ***/
.Dx {
    width: 100%;
}
.Header {
    background-color: #10131a;
    height: 13%;
}
.Main {
    background-color: #151922;
    height: 87%;
}
/*** Parte destra ***/

/** Sezioni corpo **/



/** Finale schermata **/
footer {
    background-color: #282828;
    height: 12.5vh;
}

